body {
  background: #1C1E20;
}

.App {
  margin: 20px auto;
}

.Page {
  width: 700px;
  margin: 0 auto;
}

.container {
  max-width: 700px;
  width: calc(100% - 40px);
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
