$signin_width: 450px;

.signin {
  max-width: $signin_width;
  margin: 100px auto 0;
  position: relative;

  .signinTop {
    background: #f5f6f7;
    padding: 20px;
    border-radius: 3px;

    .signinHeader {
      margin-top: 0;
      text-align: center;
    }

    .signinForm {
      .inputField {
        width: 100%;
        margin: 5px 0;
        padding: 5px;
      }

      .submitBtn {
        width: 100%;
        margin: 8px 0;
        padding: 8px;
        cursor: pointer;
      }

      .formError {
        margin: 5px 0;
      }
    }
  }

  
  .signinBottom {
    max-width: $signin_width;
    margin: 10px auto;
    background: #f5f6f7;
    padding: 20px;
    border-radius: 3px;
    padding: 12px;
  
    .goToSignUp {
      margin: 0;
      text-align: center;
      font-size: 13px;
    }
  }
}
